# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
    - 1.5
    - nightly
notifications:
  email: false
addons:
  apt:
    packages:
    - hdf5-tools
    - libnlopt0

# To build on trusty, need this (see https://github.com/JuliaIO/HDF5.jl/issues/446)
sudo: required

# script:
#     - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#     - julia --check-bounds=yes --color=yes -e 'VERSION >= v"0.7.0-DEV.5183" && using Pkg; Pkg.clone(pwd()); Pkg.build("ARMA"); Pkg.test("ARMA"; coverage=true)'
